.card-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.card-grid-row {
  display: flex;
  gap: 8px;
}

.card-grid-overflow {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
